@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #000000;
  --foreground: #22c55e;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: monospace;
}

@keyframes scanlines {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100vh);
  }
}


.animate-scanlines {
  animation: scanlines 8s linear infinite;
}

.text-shadow-retro {
  text-shadow: 2px 2px 0px rgba(34, 197, 94, 0.4), -1px -1px 0 rgba(34, 197, 94, 0.3);
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}